{%- macro ifdef(key,value,def) %}
{%- if value is defined %}
{{key}} {{value}}
{%- elif def is defined %}
{{key}} {{def}}
{%- endif %}
{%- endmacro %}

{% if item.nemes_expression is defined %}
[%
nemes = {{ item.nemes_expression }};
%]
{% endif %}

{{ ifdef('custom_subjet', item.custom_subject) }}

{{ ifdef('subject', item.subject) }}

{{ ifdef('visibility', item.visibility) }}

{{ ifdef('invite', item.invite) }}

{{ ifdef('review', item.review) }}


{% if item.default_user_options is defined %} 
default_user_options
{{ ifdef('reception', item.default_user_options.reception) }}
{{ ifdef('visibility', item.default_user_options.visibility) }}
{% endif %}

{% if item.web_archive is defined %}
web_archive
{{ ifdef('access', item.web_archive.access) }}
{% endif %}

{{ ifdef('serial', item.serial) }}

{{ ifdef('subscribe', item.subscribe) }}

{{ ifdef('send', item.send) }}

{{ ifdef('status', item.status) }}

{{ ifdef('user_data_source', item.user_data_source) }}

{{ ifdef('clean_delay_queuemod', item.clean_delay_queuemod) }}

{% if item.available_user_options is defined %}
available_user_options
{{ ifdef('reception', item.available_user_options.reception) }}
{% endif %}

{% if item.editors is defined %}
{% for e in item.editors %}
editor
{{ ifdef('email', e.email) }}
{{ ifdef('reception', e.reception) }}
{{ ifdef('visibility', e.visibility) }}
{% endfor %}
{% endif %}

{{ ifdef('info', item.info) }}

{% if item.owners is defined %}
{% for o in item.owners %}
owner
{{ ifdef('email', o.email) }}
{{ ifdef('profile', o.profile) }}
{{ ifdef('reception', o.reception) }}
{{ ifdef('visibility', o.visibility) }}
{{ ifdef('gecos', o.gecos) }}
{% endfor %}
{% endif %}

{% if item.archive is defined %}
archive
{{ ifdef('period', item.archive.period) }}
{{ ifdef('access', item.archive.access) }}
{% endif %}

{{ ifdef('unsubscribe', item.unsubscribe) }}

{% if item.include_sql_queries is defined %}
{% for i in item.include_sql_queries %}
include_sql_query
{{ ifdef('db_name', i.db_name) }}
{{ ifdef('passwd', i.passwd) }}
{{ ifdef('db_type', i.db_type) }}
{{ ifdef('name', i.name) }}
{{ ifdef('user', i.user) }}
{{ ifdef('sql_query', i.sql_query) }}
{{ ifdef('db_port', i.db_port) }}
{{ ifdef('host', i.host) }}
{% endfor %}
{% endif %}

{{ ifdef('topics', item.topics) }}


